@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --stick-width: 20%;
  --ball-radius: 5%;
  --stick-height: calc(var(--stick-width) * 0.95);
  --stick-top: 15%;
  --ball-delta: var(--ball-radius);
}

* {
  font-family: "Gabarito", sans-serif;;
}

.stick {
  width: var(--stick-width);
  height: var(--stick-height);
}

.stick::before {
  content: "</>";
  color: #fff;
  display: inline;
  font-size: 3rem;
}

.stick.left {
  animation: leftStick 5s infinite;
}

.stick.right {
  animation: rightStick 5s infinite;
}

.ball {
  width: var(--ball-radius);
  height:calc(var(--ball-radius) * 2.13);
  border-radius: 50%;
  animation: ballTrajectory 5s infinite ease-in-out;
  overflow: hidden;
  
}

@keyframes leftStick {
  0% {
    top: var(--stick-top);
  }
  
  50% {
    top: 50%
  }
  
  100% {
    top: var(--stick-top);
  }
}

@keyframes rightStick {
  0% {
    top: 50%
  }
  
  50% {
    top: var(--stick-top);
  }
  
  100% {
    top: 50%
  }
}

@keyframes ballTrajectory {
  0% {
      top: var(--stick-top);
      /* left: 2%; */
      left: calc(var(--stick-width) - var(--ball-delta));
  }
  
  25% {
      top: calc(100% - var(--ball-radius));
      left: 50%;
  }
  
  50% {
      top: var(--stick-top);;
      left: calc(100% - var(--ball-radius) - var(--stick-width) + var(--ball-delta));
  }
  
  75% {
      top: 0%;
      left: 50%;
  }
  
  100% {
      top: var(--stick-top);;
      /* left: 2%; */
      left: calc(var(--stick-width) - var(--ball-delta));
  }
  
}

/* @keyframes hideLogo1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}

@keyframes hideLogo2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
} */

@media (prefers-reduced-motion: reduce) {
  .stick.left, .stick.right, .ball {
    animation: none;
  }
}