@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --stick-width: 2%;
  --ball-radius: 40px;
}

.stick {
  width: var(--stick-width);
  height: calc(var(--stick-width) * 15);
}

.stick.left {
  animation: leftStick 5s infinite;
}

.stick.right {
  animation: rightStick 5s infinite;
}

.ball {
  width: var(--ball-radius);
  height:var(--ball-radius);
  border-radius: 50%;
  animation: ballTrajectory 5s infinite ease-in-out;
  overflow: hidden;
  
}

@keyframes leftStick {
  0% {
    top: 15%
  }
  
  50% {
    top: 50%
  }
  
  100% {
    top: 15%
  }
}

@keyframes rightStick {
  0% {
    top: 50%
  }
  
  50% {
    top: 15%
  }
  
  100% {
    top: 50%
  }
}

@keyframes ballTrajectory {
  0% {
      top: 30%;
      left: 2%;
  }
  
  25% {
      top: calc(100% - var(--ball-radius));
      left: 50%;
  }
  
  50% {
      top: 30%;
      left: calc(100% - var(--ball-radius) - var(--stick-width));
  }
  
  75% {
      top: 0%;
      left: 50%;
  }
  
  100% {
      top: 30%;
      left: 2%;
  }
  
}

/* @keyframes hideLogo1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}

@keyframes hideLogo2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
} */

@media (prefers-reduced-motion: reduce) {
  .stick.left, .stick.right, .ball {
    animation: none;
  }
}